<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="signEmail" style="font-family: arial, sans-serif; font-size: 11px;">
    <p>
        Bonjour <strong style="color: #D62731; font-size: 12px; font-weight: normal; text-transform: uppercase;"> <span th:text="${name}"></span> </strong>, <br/><br/>
        Vous devez <span th:text="${solde}"></span> CHF à la cafétéria.<br/><br/>
        Nous vous remercions de bien vouloir nous régler ce montant.<br/><br/>
        Cordialement<br/><br/>
       Les Responsables <br/><br/>
        <span th:text="${signature}"></span>
        <br/><br/>
    </p>
    <p>
    <table style="border: 1px solid gray;border-collapse:collapse;text-align:left;">
        <caption></caption>
        <tr>
            <th style="padding:3px;border: 1px solid gray;">IBAN</th><td style="padding:3px;border: 1px solid gray;">CH56 0900 0000 1485 9935 5</td>
        </tr>
        <tr>
            <th style="padding:3px;border: 1px solid gray;">Destinataire</th><td style="padding:3px;border: 1px solid gray;">Gaël Jobin, Deutes 3, 2720 Tramelan</td>
        </tr>
        <tr>
            <th style="padding:3px;border: 1px solid gray;">Note de transaction</th><td style="padding:3px;border: 1px solid gray;">Votre nom et prénom</td>
        </tr>
    </table>
    </p>
</div>
</body>
</html>